$btn-background: #000;
$btn-text: #FFF;

.cta {
  margin: 3rem 0;
}

button,
.btn {
  background: rgba($btn-background, 0.5);
  border: none !important;
  border-radius: 0.25rem;
  color: rgba($btn-text, 0.85);
  padding: 0.67rem 1rem;
  text-shadow: none;
  transition: all 0.25s ease;
  
  &.btn-large {
    display: inline-block;
    padding: 1rem;
    font-size: 14px;
  }

  &:hover {
    background: rgba($btn-background, 1);
    color: rgba($btn-text, 1);
    transform: scale(1.1);
  }
}
