h1, 
.house {
    color: transparent;
    font-size: 2rem;
    letter-spacing: -0.1rem;
    line-height: 1.1;
    margin: 4rem auto;
    overflow: hidden;
    padding: 0;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;

    -ms-transform: skewY($title-skew); // IE 9
    -webkit-transform: skewY($title-skew); // Safari
    transform: skewY($title-skew); // Standard syntax

    a {
        display: block;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        &:first-child {
            animation: teamEntryHome 1s 1;
        }
        &:last-child {
            animation: teamEntryAway 1s 1;
        }
    }

    abbr[title],
    .description {
        display: block;
        border-bottom: none;
        font-size: 1rem;
        font-style: normal;
        line-height: 0;
        margin: 1em 0;
        animation: fadeAndScaleIn 1s 1;

        &:before,
        &:after {
            background: rgba(#FFF, 0.25);
            content: " ";
            display: inline-block;
            margin: 0.33rem 0.5rem;
            width: 6em;
            height: 1px;

            @media screen and (max-width: $break-small) {
                width: 2em;
            }
        }

        &:after {
            margin-left: 0.66rem;
        }
    }
}

