$sports: football, rugby, tennis, formula-1;
$icon-size: 48px;

@mixin icon($name, $size: $icon-size, $color: 'white') {
    display: block;   
    content: ' ';

    width: 100%;
    height: $size;
    margin: 0;

    background: url($icon-base + $name + '-' + $color + '.svg') no-repeat 0 0;
    background-position-x: 50%;
    background-size: $size $size;
}

/* Sections */  
.competition:before {
    @include icon('trophy', 24px);
}

.sport:before {
    @include icon('football', 24px);
}

.location:before {
    @include icon('pin', 24px);
}

.i-time:before {
    @include icon('clock', 24px);
}

.i-day-time:before {
    @include icon('calendar-clock', 24px);
}

.i-twitter:before {
    @include icon('twitter', 24px);
}

.i-email:before {
    @include icon('mail', 24px);
}

.i-url:before {
    @include icon('cloud', 24px);
}


/* Sports */
@each $sport in $sports {
    .i-#{$sport}:before {
        @include icon('#{$sport}');
    }    
}
