$sports: football, rugby, tennis, formula-1;
$icon-size: 48px;

@mixin icon($name, $size: $icon-size, $color: 'white') {
    background: url($icon-base + $name + '-' + $color + '.svg') no-repeat 0 0;
    background-size: $size $size;
    content: ' ';
    display: inline-block;
    width: $size;
    height: $size;
    margin: 0 6px;
    
    @media screen and (max-width: $break-small) {
        display: block;   
        background-position-x: 50%;
        width: 100%;
        margin: 0;
    }
}

/* Sections */  
.competition:before {
    @include icon('trophy', 0.7em);
}

.sport:before {
    @include icon('football', 12px);
}

small time:before {
    @include icon('clock', 12px);
}

.location:before {
    @include icon('pin', 12px);
}

/* Sports */
@each $sport in $sports {
    .i-#{$sport}:before {
        @include icon('#{$sport}');
    }    
}
