$facebook : #0074cb;
$twitter : #64CCEF;
$google : #e55036;

.login {

  .providers {
    margin: 2rem 0 2rem;
    padding: 0;
    text-align: center;
    
    li {
      display: inline-block;
      
      a {
        color: #FFF;
        display: block;
        padding: 2rem 3rem;
        text-indent: -999rem;
        transition: all 0.3s ease;
        z-index: 5;
        
        &:hover {
          opacity: 0.7;
          z-index: 10;
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
        }
        
        &.facebook {
          background: $facebook url(/img/svg/facebook.svg) no-repeat top center;
        }
        &.twitter {
          background: $twitter url(/img/svg/twitter.svg) no-repeat top center;
        }
        &.google {
          background: $google url(/img/svg/google.svg) no-repeat top center;
        }
      }
    }
    
  } 
  
}