.calendars.view .container {
  margin: 0;
  width: auto;
}


.container {

  margin-top: 2rem;
  text-align: center;
  
  h1 {
    line-height: 1;
    margin: 5rem auto;
    max-width: 18em;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    animation: fadeAndScaleInSkewed 1s ease;
  }

  .lead {
    font-family: Georgia;
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1;
    margin: 0 2rem 1rem;
  }

  p small,
  .meta {
    color: rgba(#FFF,0.5);
    display: flex;
    margin: 2rem 0;
    
    > * {
      flex: 1;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

.swatch {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}