.calendars.view .container {
  margin: 0;
  width: auto;
}


.container {

  margin-top: 2rem;
  text-align: center;
  
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    margin: 8rem auto 5rem;
    max-width: 18em;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }

  .lead {
    font-family: Georgia;
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1;
    margin: 0 2rem 1rem;
  }

  p small {
    color: rgba(#FFF,0.5);
    display: block;
  }
}
