sql/progressing_dev.sql
sql/Update World Cup teams.spf
sql/Update WC team IDs.spf
app/webroot/files/8332_127034295841_1794403_n.jpg

*.scssc
*.log

app/Config/app_secrets.php
app/tmp/*
app/webroot/node_modules
