/* line 4, ../sass/_components/_buttons.scss */
.btn {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: none;
}
/* line 10, ../sass/_components/_buttons.scss */
.btn:hover {
  background: black;
  color: white;
}

/* line 1, ../sass/_components/_themes.scss */
.calendars.view .container {
  margin: 0;
  width: auto;
}

/* line 7, ../sass/_components/_themes.scss */
.theme {
  background-size: contain;
  color: #FFF;
  padding: 1em;
  text-align: center;
  width: 100%;
  margin: 0;
}
/* line 15, ../sass/_components/_themes.scss */
.theme h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
  margin: 15rem 0 0;
  text-transform: uppercase;
}
/* line 21, ../sass/_components/_themes.scss */
.theme .lead {
  font-family: Georgia;
  font-style: italic;
  font-size: 1em;
  margin: 0 0 1rem;
}
/* line 27, ../sass/_components/_themes.scss */
.theme p small {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0 0 12rem;
}

/* line 34, ../sass/_components/_themes.scss */
.tiled {
  overflow: hidden;
}
/* line 37, ../sass/_components/_themes.scss */
.tiled li {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 11rem;
  height: 12rem;
}
/* line 44, ../sass/_components/_themes.scss */
.tiled li h2 {
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
/* line 52, ../sass/_components/_themes.scss */
.tiled li img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 60, ../sass/_components/_themes.scss */
.tiled li var {
  display: block;
  font-family: monospace;
  font-style: normal;
  z-index: 20;
}

/* line 9, ../sass/_components/_calendars.scss */
.calendar td {
  height: 4rem;
  position: relative;
  width: 14.28571%;
}
/* line 14, ../sass/_components/_calendars.scss */
.calendar td .date {
  color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}
/* line 25, ../sass/_components/_calendars.scss */
.calendar td.today {
  background: rgba(0, 0, 0, 0.05);
}
/* line 28, ../sass/_components/_calendars.scss */
.calendar td.today .date {
  color: #FFF;
}
/* line 34, ../sass/_components/_calendars.scss */
.calendar td .event {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  transition: 0.3s all ease;
}
/* line 40, ../sass/_components/_calendars.scss */
.calendar td .event a {
  color: #FFF;
  display: block;
  font-size: 0.8rem;
  overflow: hidden;
  padding: 0.5em;
  margin: 0 0 0.2em;
  text-align: center;
  transition: 0.3s all ease;
}
/* line 50, ../sass/_components/_calendars.scss */
.calendar td .event a .time, .calendar td .event a .location {
  display: none;
}
/* line 56, ../sass/_components/_calendars.scss */
.calendar td .event .download {
  color: #000;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -2.7em;
  left: 0;
  right: 50%;
  z-index: 20;
}
/* line 66, ../sass/_components/_calendars.scss */
.calendar td .event .download:hover, .calendar td .event .download:focus {
  background: white;
}
/* line 71, ../sass/_components/_calendars.scss */
.calendar td .event .share {
  color: #000;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -2.7em;
  left: 50%;
  right: 0;
  z-index: 20;
}
/* line 81, ../sass/_components/_calendars.scss */
.calendar td .event .share:hover, .calendar td .event .share:focus {
  background: white;
}
/* line 86, ../sass/_components/_calendars.scss */
.calendar td .event:hover, .calendar td .event:focus {
  background: rgba(0, 0, 0, 0.9);
}
/* line 90, ../sass/_components/_calendars.scss */
.calendar td .event:hover a, .calendar td .event:focus a {
  text-decoration: none;
}
/* line 92, ../sass/_components/_calendars.scss */
.calendar td .event:hover a .time, .calendar td .event:focus a .time {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}
/* line 97, ../sass/_components/_calendars.scss */
.calendar td .event:hover a .location, .calendar td .event:focus a .location {
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
/* line 105, ../sass/_components/_calendars.scss */
.calendar td .event:hover .download, .calendar td .event:hover .share, .calendar td .event:focus .download, .calendar td .event:focus .share {
  display: inline-block;
}
@media screen and (max-width: 700px) {
  /* line 7, ../sass/_components/_calendars.scss */
  .calendar {
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  /* line 122, ../sass/_components/_calendars.scss */
  .calendar table,
  .calendar thead,
  .calendar tbody,
  .calendar th,
  .calendar td,
  .calendar tr {
    display: block;
  }
  /* line 127, ../sass/_components/_calendars.scss */
  .calendar thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 133, ../sass/_components/_calendars.scss */
  .calendar td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: auto;
    min-height: 4.5rem;
    overflow: hidden;
    padding-left: 0;
    text-align: left;
    white-space: normal;
    width: 100%;
  }
  /* line 145, ../sass/_components/_calendars.scss */
  .calendar td.empty {
    display: none;
  }
  /* line 149, ../sass/_components/_calendars.scss */
  .calendar td .date {
    font-size: 2.5em;
    text-align: left;
    top: 1.75rem;
    left: 0;
    width: 1em;
  }
  /* line 157, ../sass/_components/_calendars.scss */
  .calendar td:before {
    content: attr(data-day);
    color: rgba(0, 0, 0, 0.05);
    display: inline-block;
    letter-spacing: 0.2rem;
    text-indent: 0.25em;
    text-transform: uppercase;
  }
  /* line 167, ../sass/_components/_calendars.scss */
  .calendar td ol {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    left: 3.7em;
  }
  /* line 174, ../sass/_components/_calendars.scss */
  .calendar td .event {
    display: block;
    text-align: center;
  }
  /* line 178, ../sass/_components/_calendars.scss */
  .calendar td .event:hover, .calendar td .event:focus {
    background: rgba(255, 40, 40, 0.7);
  }
  /* line 181, ../sass/_components/_calendars.scss */
  .calendar td .event:hover a, .calendar td .event:focus a {
    color: rgba(255, 255, 255, 0.25);
  }
  /* line 184, ../sass/_components/_calendars.scss */
  .calendar td .event:hover a .time, .calendar td .event:focus a .time {
    display: inline-block;
    color: white;
    position: absolute;
    top: 0.1rem;
    left: 1rem;
  }
  /* line 191, ../sass/_components/_calendars.scss */
  .calendar td .event:hover a .location, .calendar td .event:focus a .location {
    display: inline-block;
    color: white;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
  }
  /* line 200, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download, .calendar td .event:hover .share, .calendar td .event:focus .download, .calendar td .event:focus .share {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    height: 1.24rem;
    position: absolute;
    top: 0;
    transition: 0.3s all ease;
    width: 10%;
    z-index: 20;
  }
  /* line 210, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download:hover, .calendar td .event:hover .share:hover, .calendar td .event:focus .download:hover, .calendar td .event:focus .share:hover {
    /*               width: auto; */
  }
  /* line 214, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download, .calendar td .event:focus .download {
    left: 80%;
    right: 90%;
  }
  /* line 218, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download:hover, .calendar td .event:focus .download:hover {
    left: 50%;
  }
  /* line 222, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .share, .calendar td .event:focus .share {
    left: 90%;
    right: 0;
  }
  /* line 226, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .share:hover, .calendar td .event:focus .share:hover {
    left: 60%;
  }
}

/* line 8, ../sass/kickoff.app.scss */
body {
  padding: 40px 0;
}
