/* line 1, ../sass/_base/_footer.scss */
footer {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.85rem;
  overflow: hidden;
  padding: 2rem 2rem 1rem;
}

/* line 1, ../sass/_base/_forms.scss */
h2, form, input {
  text-align: center;
}

/* line 7, ../sass/_base/_forms.scss */
.input label {
  color: rgba(0, 0, 0, 0.3);
}
/* line 13, ../sass/_base/_forms.scss */
.input input,
.input textarea,
.input select {
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  padding: 0.67rem 1rem;
  transition: all 0.25s ease;
}
/* line 20, ../sass/_base/_forms.scss */
.input input:focus,
.input textarea:focus,
.input select:focus {
  background: rgba(255, 255, 255, 0.6);
  transform: scaleX(1.1);
}

/* line 28, ../sass/_base/_forms.scss */
.checkbox input[type=checkbox],
.radio input[type=radio] {
  float: none;
}

/* line 32, ../sass/_base/_forms.scss */
.checkbox {
  margin: 0 auto;
  width: 206px;
}
/* line 36, ../sass/_base/_forms.scss */
.checkbox input {
  display: inline-block;
  line-height: 1.5rem;
  margin-right: 0.5rem;
}
/* line 42, ../sass/_base/_forms.scss */
.checkbox label {
  display: inline-block;
  line-height: 1.3rem;
}

/* line 3, ../sass/_base/_layout.scss */
body {
  background: linear-gradient(rgba(101, 71, 71, 0.85), rgba(101, 71, 71, 0.7)), fixed url(/img/photos/girl-on-mac-in-park.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 4rem 0 0;
}

/* line 1, ../sass/_base/_links.scss */
a {
  color: rgba(255, 255, 255, 0.9);
}
/* line 4, ../sass/_base/_links.scss */
a:hover, a:focus {
  color: white;
}

/* line 1, ../sass/_base/_navigation.scss */
nav {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 9, ../sass/_base/_navigation.scss */
nav a {
  color: rgba(255, 255, 255, 0.8);
}
/* line 12, ../sass/_base/_navigation.scss */
nav a:hover {
  color: white;
  text-decoration: none;
}
/* line 18, ../sass/_base/_navigation.scss */
nav .logo {
  font-family: 'Avenir',Helvetica,Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  left: 47%;
  line-height: 3.5rem;
  position: absolute;
  right: 47%;
  text-align: center;
}
/* line 30, ../sass/_base/_navigation.scss */
nav .discover,
nav .engage {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 45%;
}
/* line 37, ../sass/_base/_navigation.scss */
nav .discover li,
nav .engage li {
  display: inline;
  position: relative;
}
/* line 41, ../sass/_base/_navigation.scss */
nav .discover li a,
nav .engage li a {
  display: inline-block;
  padding: 1rem 0.5rem;
}
/* line 49, ../sass/_base/_navigation.scss */
nav .discover {
  float: left;
  text-align: right;
}
/* line 54, ../sass/_base/_navigation.scss */
nav .engage {
  float: right;
  text-align: left;
}
/* line 59, ../sass/_base/_navigation.scss */
nav li {
  z-index: 10;
}
/* line 62, ../sass/_base/_navigation.scss */
nav li form {
  display: inline-block;
}
/* line 65, ../sass/_base/_navigation.scss */
nav li form input {
  background: url(/img/svg/search.svg) no-repeat 5px 50%;
  background-size: 16px;
  padding-left: 24px !important;
  margin-top: 5px;
  text-align: left;
  width: 150px;
}

/* line 1, ../sass/_base/_tables.scss */
table {
  background: rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}
/* line 7, ../sass/_base/_tables.scss */
table th, table td {
  padding: 0.5rem;
}
/* line 11, ../sass/_base/_tables.scss */
table th {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.85rem;
  text-align: center;
  text-transform: uppercase;
}
/* line 17, ../sass/_base/_tables.scss */
table th a {
  color: rgba(255, 255, 255, 0.3);
}
/* line 24, ../sass/_base/_tables.scss */
table tbody tr {
  border-bottom: 1px solid #FFF;
}
/* line 28, ../sass/_base/_tables.scss */
table tbody tr:hover {
  background: rgba(0, 0, 0, 0.05);
}
/* line 34, ../sass/_base/_tables.scss */
table .actions a {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: 1px;
  padding: 0.5rem;
  text-transform: uppercase;
}

/* line 1, ../sass/_base/_typography.scss */
body, h1, h2, h3 {
  color: #FFF;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

/* line 8, ../sass/_base/_typography.scss */
h1 {
  color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  line-height: 1.1;
  margin: 5rem auto;
  padding: 2rem;
  text-transform: uppercase;
  -webkit-text-stroke: 2px white;
}

/* line 20, ../sass/_base/_typography.scss */
pre, textarea.code {
  background: rgba(0, 0, 0, 0.8);
  color: #F0C;
  font-family: 'Consolas', CourierNew, fixed;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
  z-index: 10;
}
/* line 32, ../sass/_base/_typography.scss */
pre:focus, pre:hover, textarea.code:focus, textarea.code:hover {
  width: 100%;
  height: 200px;
  z-index: 100;
}

/* line 5, ../sass/_globals/_buttons.scss */
button,
.btn {
  background: rgba(0, 0, 0, 0.5);
  border: none !important;
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 0.85);
  padding: 0.67rem 1rem;
  text-shadow: none;
  transition: all 0.25s ease;
}
/* line 14, ../sass/_globals/_buttons.scss */
button:hover,
.btn:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}

/* line 7, ../sass/_globals/_social.scss */
.login .providers {
  margin: 2rem 0 2rem;
  padding: 0;
  text-align: center;
}
/* line 12, ../sass/_globals/_social.scss */
.login .providers li {
  display: inline-block;
}
/* line 15, ../sass/_globals/_social.scss */
.login .providers li a {
  color: #FFF;
  display: block;
  padding: 2rem 3rem;
  text-indent: -999rem;
  transition: all 0.3s ease;
  z-index: 5;
}
/* line 23, ../sass/_globals/_social.scss */
.login .providers li a:hover {
  opacity: 0.7;
  z-index: 10;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
/* line 30, ../sass/_globals/_social.scss */
.login .providers li a.facebook {
  background: #0074cb url(/img/svg/facebook.svg) no-repeat top center;
}
/* line 33, ../sass/_globals/_social.scss */
.login .providers li a.twitter {
  background: #64ccef url(/img/svg/twitter.svg) no-repeat top center;
}
/* line 36, ../sass/_globals/_social.scss */
.login .providers li a.google {
  background: #e55036 url(/img/svg/google.svg) no-repeat top center;
}

/* line 1, ../sass/_globals/_themes.scss */
.calendars.view .container {
  margin: 0;
  width: auto;
}

/* line 7, ../sass/_globals/_themes.scss */
.container {
  text-align: center;
}
/* line 11, ../sass/_globals/_themes.scss */
.container h1 {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  margin: 8rem 0 2rem;
  text-transform: uppercase;
}
/* line 18, ../sass/_globals/_themes.scss */
.container .lead {
  font-family: Georgia;
  font-style: italic;
  font-size: 1em;
  margin: 0 0 1rem;
}
/* line 25, ../sass/_globals/_themes.scss */
.container p small {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0 0 12rem;
}

/* line 1, ../sass/_globals/_grid.scss */
.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 6, ../sass/_globals/_grid.scss */
.promo div {
  flex-grow: 1;
  margin: 1rem 2%;
}

/* line 12, ../sass/_globals/_grid.scss */
.breakout {
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  padding: 1em;
  margin: 1.5rem -0.5rem 1.5rem;
}

/* line 8, ../sass/_components/_calendars.scss */
.calendar {
  padding: 1rem;
}
/* line 13, ../sass/_components/_calendars.scss */
.calendar td {
  height: 4rem;
  position: relative;
  width: 14.28571%;
}
/* line 18, ../sass/_components/_calendars.scss */
.calendar td:hover {
  background: rgba(255, 255, 255, 0.05);
}
/* line 22, ../sass/_components/_calendars.scss */
.calendar td .date {
  color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  position: absolute;
  text-align: right;
  top: 50%;
  left: 50%;
}
/* line 33, ../sass/_components/_calendars.scss */
.calendar td.today {
  background: rgba(255, 255, 255, 0.15);
}
/* line 36, ../sass/_components/_calendars.scss */
.calendar td.today .date {
  color: #FFF;
}
/* line 42, ../sass/_components/_calendars.scss */
.calendar td .event {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  transition: 0.3s all ease;
}
/* line 48, ../sass/_components/_calendars.scss */
.calendar td .event a {
  color: #FFF;
  display: block;
  font-size: 0.8rem;
  overflow: hidden;
  padding: 0.5em;
  margin: 0 0 0.2em;
  text-align: center;
  transition: 0.3s all ease;
}
/* line 58, ../sass/_components/_calendars.scss */
.calendar td .event a .time, .calendar td .event a .location {
  display: none;
}
/* line 64, ../sass/_components/_calendars.scss */
.calendar td .event .download {
  color: #000;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -2.7em;
  left: 0;
  right: 50%;
  z-index: 20;
}
/* line 74, ../sass/_components/_calendars.scss */
.calendar td .event .download:hover, .calendar td .event .download:focus {
  background: white;
}
/* line 79, ../sass/_components/_calendars.scss */
.calendar td .event .share {
  color: #000;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -2.7em;
  left: 50%;
  right: 0;
  z-index: 20;
}
/* line 89, ../sass/_components/_calendars.scss */
.calendar td .event .share:hover, .calendar td .event .share:focus {
  background: white;
}
/* line 94, ../sass/_components/_calendars.scss */
.calendar td .event:hover, .calendar td .event:focus {
  background: rgba(0, 0, 0, 0.9);
}
/* line 98, ../sass/_components/_calendars.scss */
.calendar td .event:hover a, .calendar td .event:focus a {
  text-decoration: none;
}
/* line 100, ../sass/_components/_calendars.scss */
.calendar td .event:hover a .time, .calendar td .event:focus a .time {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}
/* line 105, ../sass/_components/_calendars.scss */
.calendar td .event:hover a .location, .calendar td .event:focus a .location {
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
/* line 113, ../sass/_components/_calendars.scss */
.calendar td .event:hover .download, .calendar td .event:hover .share, .calendar td .event:focus .download, .calendar td .event:focus .share {
  display: inline-block;
}
@media screen and (max-width: 700px) {
  /* line 8, ../sass/_components/_calendars.scss */
  .calendar {
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  /* line 130, ../sass/_components/_calendars.scss */
  .calendar table,
  .calendar thead,
  .calendar tbody,
  .calendar th,
  .calendar td,
  .calendar tr {
    display: block;
  }
  /* line 135, ../sass/_components/_calendars.scss */
  .calendar thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 141, ../sass/_components/_calendars.scss */
  .calendar td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: auto;
    min-height: 4.5rem;
    overflow: hidden;
    padding-left: 0;
    text-align: left;
    white-space: normal;
    width: 100%;
  }
  /* line 153, ../sass/_components/_calendars.scss */
  .calendar td.empty {
    display: none;
  }
  /* line 157, ../sass/_components/_calendars.scss */
  .calendar td .date {
    font-size: 2.5em;
    text-align: left;
    top: 1.75rem;
    left: 0;
    width: 1em;
  }
  /* line 165, ../sass/_components/_calendars.scss */
  .calendar td:before {
    content: attr(data-day);
    color: rgba(0, 0, 0, 0.05);
    display: inline-block;
    letter-spacing: 0.2rem;
    text-indent: 0.25em;
    text-transform: uppercase;
  }
  /* line 175, ../sass/_components/_calendars.scss */
  .calendar td ol {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    left: 3.7em;
  }
  /* line 182, ../sass/_components/_calendars.scss */
  .calendar td .event {
    display: block;
    text-align: center;
  }
  /* line 186, ../sass/_components/_calendars.scss */
  .calendar td .event:hover, .calendar td .event:focus {
    background: rgba(255, 40, 40, 0.7);
  }
  /* line 189, ../sass/_components/_calendars.scss */
  .calendar td .event:hover a, .calendar td .event:focus a {
    color: rgba(255, 255, 255, 0.25);
  }
  /* line 192, ../sass/_components/_calendars.scss */
  .calendar td .event:hover a .time, .calendar td .event:focus a .time {
    display: inline-block;
    color: white;
    position: absolute;
    top: 0.1rem;
    left: 1rem;
  }
  /* line 199, ../sass/_components/_calendars.scss */
  .calendar td .event:hover a .location, .calendar td .event:focus a .location {
    display: inline-block;
    color: white;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
  }
  /* line 208, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download, .calendar td .event:hover .share, .calendar td .event:focus .download, .calendar td .event:focus .share {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    height: 1.24rem;
    position: absolute;
    top: 0;
    transition: 0.3s all ease;
    width: 10%;
    z-index: 20;
  }
  /* line 218, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download:hover, .calendar td .event:hover .share:hover, .calendar td .event:focus .download:hover, .calendar td .event:focus .share:hover {
    /*               width: auto; */
  }
  /* line 222, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download, .calendar td .event:focus .download {
    left: 80%;
    right: 90%;
  }
  /* line 226, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .download:hover, .calendar td .event:focus .download:hover {
    left: 50%;
  }
  /* line 230, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .share, .calendar td .event:focus .share {
    left: 90%;
    right: 0;
  }
  /* line 234, ../sass/_components/_calendars.scss */
  .calendar td .event:hover .share:hover, .calendar td .event:focus .share:hover {
    left: 60%;
  }
}

/* line 1, ../sass/_components/_users.scss */
.avatar {
  height: 2rem;
  padding: 0.5rem;
}

/* line 6, ../sass/_components/_users.scss */
.social, .email {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

/* line 2, ../sass/_components/_datepicker.scss */
.bootstrap-datetimepicker-widget ul {
  margin-left: 0;
}

/* line 8, ../sass/_components/_datepicker.scss */
.datepicker {
  color: #333;
}
/* line 11, ../sass/_components/_datepicker.scss */
.datepicker th, .datepicker td {
  text-align: center;
}
/* line 15, ../sass/_components/_datepicker.scss */
.datepicker .dow {
  font-size: 0.75rem;
  text-transform: uppercase;
}
/* line 20, ../sass/_components/_datepicker.scss */
.datepicker .day {
  cursor: pointer;
}
/* line 24, ../sass/_components/_datepicker.scss */
.datepicker .active {
  background: #EEE;
  border-radius: 50%;
}
/* line 30, ../sass/_components/_datepicker.scss */
.datepicker td.old,
.datepicker td.new {
  color: #CCC;
}

/* line 3, ../sass/_components/_tiles.scss */
.tiles {
  overflow: hidden;
}
/* line 6, ../sass/_components/_tiles.scss */
.tiles li {
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
/* line 15, ../sass/_components/_tiles.scss */
.tiles li:after {
  background: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
/* line 29, ../sass/_components/_tiles.scss */
.tiles li img {
  width: 200px;
  height: 200px;
  position: relative;
}
/* line 34, ../sass/_components/_tiles.scss */
.tiles li img::after {
  content: attr(alt);
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
/* line 49, ../sass/_components/_tiles.scss */
.tiles li .title {
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
}
/* line 61, ../sass/_components/_tiles.scss */
.tiles li .description,
.tiles li .secondary {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.75);
}
/* line 66, ../sass/_components/_tiles.scss */
.tiles li .color {
  display: block;
  font-family: monospace;
  font-style: normal;
  z-index: 20;
}
