$icon-size: 16px;
$icon-gutter: 5px;

.atc {
    display: inline-block;
    position: relative;

    a[type='text/calendar'] {
        background-color: rgba(#000, 0.8);
        position: relative;
        padding-right: 3rem;
        z-index: 100;

        &:active,
        &:focus {
            color: inherit;
        }

        &:after {
            content: '+';
            display: inline-block;
            background: rgba(#FFF, 0.1);
            font-weight: bold;
            line-height: 2.4;
            padding: 0.5rem 0.67rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }

        &.expand:after {
            content: '\00D7';
        }

    }

    .atc__options {
        background: rgba(#000,0.5);
        display: flex;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 4px;
        opacity: 0;
        text-align: center;
        width: auto;
        z-index: 50;
    }

    .atc__options a {
        flex: 1;
        background-color: rgba(#000,0.8);
        background-size: $icon-size $icon-size;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        text-indent: -9999rem;
        margin-right: 4px;
        //padding-left: $icon-size + ($icon-gutter * 2);

        &:last-child {
            margin-right: 0;
        }
     }

    .atc__google {
        background-image: url($icon-base + 'google-white.svg');        
    }
    .atc__apple {
        background-image: url($icon-base + 'apple-white.svg');        
    }
    .atc__windows {
        background-image: url($icon-base + 'windows-white.svg');        
    }

    .expand ~ .atc__options {
        opacity: 1;
        transform: translateY(3.2rem);
    }
}