.atc {
    display: inline-block;
    position: relative;

    a[type='text/calendar'] {
        background-color: rgba(red, 0.6);
        position: relative;
        padding-right: 3rem;
        z-index: 100;

        &:active,
        &:focus {
            color: inherit;
        }

        &:after {
            content: '+';
            display: inline-block;
            background: rgba(#000, 0.1);
            font-weight: bold;
            line-height: 2.4;
            padding: 0 0.67rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }

    }

    .atc__options {
        display: inline-block;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: auto;
        z-index: 50;
    }

    .expand ~ .atc__options {
        opacity: 1;
        top: 2.5rem;
    }
}