$btn-background: rgb(0,0,0);
$btn-text: rgb(255,255,255);

.btn {
  background: rgba($btn-background, 0.7);
  border: none;
  color: rgba($btn-text, 0.85);
  text-shadow: none;
  
  &:hover {
    background: rgba($btn-background, 1);
    color: rgba($btn-text, 1);
  }
}