.calendar {

  & td {
    height: 4rem;
    position: relative;
    width: (100%/7);
    
    .date {
      color: rgba(0,0,0,0.05);
      display: inline-block;
      font-size: 3.5rem;
      font-weight: bold;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      z-index: 10;
    }

    &.today {
      background: rgba(0,0,0,0.05);
      
      .date {
        color: #FFF;
      }

    }
    
    .event {
      z-index: 20;
      
      a {
        background: rgba(255,40,40,0.5);
        color: #FFF;
        display: block;
        font-size: 0.8rem;
        overflow: hidden;
        padding: 0.5em;
        margin: 0 0 0.2em;
        text-align: center;
      }
    }
  }

}