$break-small: 700px;

$color-event: #000;
$color-download: #FFF;
$color-share: #FFF;


.calendar {
  position: relative;

  table {
    padding: 1rem;
  }

  h2,
  .pagination-previous,
  .pagination-next {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
  }

  .pagination-previous,
  .pagination-next {
    position: absolute;
    top: 0;
    opacity: 0.5;
  }

  .pagination-previous {
    left: 0;
  }

  .pagination-next {
    right: 0;
  }

  & td {
    height: 4rem;
    position: relative;
    width: (100%/7);

    &:hover {
      background: rgba(#FFF,0.05);
    }
    
    .date {
      color: rgba(#000,0.2);
      display: inline-block;
      font-size: 3.5rem;
      font-weight: bold;
      position: absolute;
      text-align: right;
      top: 50%;
      left: 50%;
    }

    &.today {
      background: rgba(#FFF,0.15);
      
      .date {
        color: #FFF;
      }

    }
    
    .event {

      background: rgba($color-event,0.8);
      position: relative;
      transition: 0.3s all ease;
    
      a {
        color: #FFF;
        display: block;
        font-size: 0.8rem;
        overflow: hidden;
        padding: 0.5em;
        margin: 0 0 0.2em;
        text-align: center;
        transition: 0.3s all ease;
        
        .time, .location {
          display: none;
        }
        
      }

      .download {
        color: #000;
        display: none;
        background: rgba($color-download,0.8);
        position: absolute;
        bottom: -2.7em;
        left: 0;
        right: 50%;
        z-index: 20;

        &:hover, &:focus {
          background: rgba($color-download,1);
        }
      }
      
      .share {
        color: #000;
        display: none;
        background: rgba($color-share,0.8);
        position: absolute;
        bottom: -2.7em;
        left: 50%;
        right: 0;
        z-index: 20;

        &:hover, &:focus {
          background: rgba($color-share,1);
        }
      }
      
      &:hover, &:focus {
      
        background: rgba($color-event,0.9);
        
        a {
          text-decoration: none;
          .time {
            display: block;
            font-size: 0.8em;
            font-weight: bold;
          }
          .location {
            display: block;
            font-size: 0.8em;
            letter-spacing: 0.3em;
            text-transform: uppercase;
          }
        }

        .download, .share {
          display: inline-block;
        }      

      }

    }
    
  }

  @media screen and (max-width: $break-small) {
    
    table, 
    thead, 
    tbody, 
    th, 
  	td, 
  	tr { 
  		display: block; 
  	}    

  	/* Hide table headers (but not display: none;, for accessibility) */
  	thead tr { 
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  	}  

    td { 
  		/* Behave  like a "row" */
  		border: none;
      border-bottom: 1px solid rgba(#000,0.3);
      height: auto;
      min-height: 4.5rem;
      overflow: hidden;
  		padding-left: 0; 
  		text-align:left;
  		white-space: normal;
      width: 100%;
      
      &.empty,
      &[colspan] {
        display: none;
      }

      .date {
        color: rgba(#FFF,0.5);
        font-size: 2.5em;
        text-align: left;
        line-height: 1.2;
        top: 1.75rem;
        left: 0;
        width: 1em;
      }
      
      &:before { 
        content: attr(data-day);
        color: rgba(#FFF,0.5);
        display: inline-block;
        letter-spacing: 0.2rem;
        text-indent: 0.25em;
        text-transform: uppercase;
      }
      
      ol {
        margin: -1.5em 0 0 3.7em;
      }
      
      .event {
        display: block;
        text-align: center;

        &:hover, &:focus {
          background: rgba(255,40,40,0.7);
          
          a {
            color: rgba(255,255,255,0.25);
    
            .time {
              display: inline-block;
              color: rgba(255,255,255,1);
              position: absolute;
              top: 0.1rem;
              left: 1rem;
            }
            .location {
              display: inline-block;
              color: rgba(255,255,255,1);
              position: absolute;
              top: 0.7rem;
              left: 1rem;
            }
          }
    
          .download, .share {
            display: inline-block;
            color: rgba(255,255,255,0.9);
            height: 1.24rem;
            position: absolute;
            top: 0;
            transition: 0.3s all ease;
            width: 10%;
            z-index: 20;
            
            &:hover {
/*               width: auto; */
            }
          }
          .download {
            left: 80%;
            right: 90%;
            
            &:hover {
              left: 50%;
            }
          }
          .share {
            left: 90%;
            right: 0;

            &:hover {
              left: 60%;
            }
          }
        }
      }
    }
  }
}