.bootstrap-datetimepicker-widget {
	background: rgba(#000, 0.9);
    right: 0 !important;

	ul {
		margin-left: 0;
	}
}


.datepicker {
	color: #FFF;

	th, td {
		text-align: center;
	}

	.dow {
		font-size: 0.75rem;
		text-transform: uppercase;
	}

	.day {
		cursor: pointer;

		&.old,
		&.new {
			color: rgba(#FFF, 0.25);
		}
	}


	.active {
		background: rgba(#E00, 0.8);
	}

	td.old,
	td.new {
		color: #CCC;
	}
}