/*
Events
*/
.events.view {

    .dtstart {
        background: rgba(#000, 0.9);
        display: flex;
        margin: 3rem 0 2rem;
        text-transform: uppercase;

        .date,
        .time {
            flex: auto;
            font-size: 1.2rem;
            line-height: 1;
            padding: 1rem;
        }

        .date {
            width: 3rem;

            sup {
                font-size: 0.7rem;
            }
        }
        .time {
            font-size: 2.5rem;

            span {
                animation-name: flash;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}