/*
Events
*/
.events.view {

    .dtstart {
        display: block;
        margin: 3rem 0 2rem;
        padding: 1rem 0;
        background: rgba(#000, 0.2) url(/img/src/icons/clock-white.svg) no-repeat 50% 50%;
        text-transform: uppercase;

        .date,
        .time {
            font-size: 1.2rem;
            line-height: 1;
            width: 45%;
            display: inline-block;
            text-align: center;
            @media screen and (max-width : 380px) {
                max-width: 140px;
            }
        }

        .date {
            margin-right: 16px;
            sup {
                font-size: 0.7rem;
            }
        }
        .time {
            margin-left: 16px;

            .separator {
                animation-name: flash;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            .ordinal,
            .timezone {
                font-size: 1.2rem;
            }

            .timezone {
                opacity: 0.3;
                
                @media screen and (max-width : 320px) {
                    display: block;
                }
            }
        }
    }

    .meta {
        font-size: 0.8rem;
    }
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}