body.home {

    .span4 {
        transition: all 1s ease;

        a:hover {
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.2);

            & ~ .span4,
            .span4 ~ & {
                opacity: 0.5;
            }
        }
    }
}