body.home {

    .span4 {
        transition: transform 1s ease;

        a:hover {
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}