.map {
    background: rgba(#000, 0.2) url($icon-base + 'pin-white.svg') no-repeat 50% 50%;
    background-size: 64px 64px;
    width: 100%;
    height: 300px;
    display: block;
    position: relative;

    h3 {
        padding-top: 4rem;
    }

    .postal-code {
        display: block;
        margin: 0.5rem auto;
        padding: 0.5rem;
    }
}