.cover {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) no-repeat 50% 50%; 
  background-size: cover;
  color: #FFF;
  padding: 1em;
  text-align: center;
  
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 2em 0;
    text-transform: uppercase;
  }
}

.tiled {
  overflow: hidden;
  
  li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    
    h2 {
      position: absolute;
      top:0;
      left: 0;
      z-index: 20;
    }
    img {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    var {
      display: block;
      font-family: monospace;
      font-style: normal;
      z-index: 20;
    }
  }
}