.calendars.view .container {
  margin: 0;
  width: auto;
}


.theme {
  background-size: contain;
  color: #FFF;
  padding: 1em;
  text-align: center;
  width: 100%;
  margin: 0;
  
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3em;
    margin: 15rem 0 0;
    text-transform: uppercase;
  }
  .lead {
    font-family: Georgia;
    font-style: italic;
    font-size: 1em;
    margin: 0 0 1rem;
  }
  p small {
    color: rgba(255,255,255,0.5);
    display: block;
    margin: 0 0 12rem;
  }
}

.tiled {
  overflow: hidden;
  
  li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 11rem;
    height: 12rem;
    
    h2 {
      font-size: 1rem;
      font-weight: normal;
      position: absolute;
      top:0;
      left: 0;
      z-index: 20;
    }
    img {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    var {
      display: block;
      font-family: monospace;
      font-style: normal;
      z-index: 20;
    }
  }
}