$tile-size: 300px;

.tiles {
  overflow: hidden;
  margin: 0 0 1rem;
  
  li {
    background-color: rgba(#000, 0.8);
    background-size: cover;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    width: $tile-size;
    height: $tile-size;

    @media (max-width: 480px) {
      width: auto;
      display: block;
      margin: 10px;
      vertical-align: middle;
    }

    h3 {
        margin: 0;
        height: $tile-size;
    }

    a {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: rgba(#000, 0.4);
            text-decoration: none;
        }
    }
    
    img {
      width: $tile-size;
      height: $tile-size;
      position: relative;

      &::after {
        content: attr(alt);
        display: block;
        width: $tile-size;
        height: $tile-size;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(#000,0.5);
        color: #FFF;
      }
    }

    .title {
      font-size: 1rem;
      font-weight: normal;
      position: absolute;
      top:40%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 20;
    }

    .description,
    .secondary {
      font-size: 0.85rem;
      color: rgba(#FFF, 0.75);
    }

    .color {
      display: block;
      font-family: monospace;
      font-style: normal;
      z-index: 20;
    }
    
    a.btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
  }
}