a.timezone {
    background: url(/img/src/icons/globe-white.png) no-repeat 100% 50%;
    background-size: 14px;
    padding-right: 20px;
}

#timezones {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    background: rgba(#000,0.9);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    
    h3, h2 {
        padding: 0 20px 0 10px;
    }
    
    section {
        border-bottom: 5px solid #444;
        margin: 0 10px;
    }
    
    li {
        font-size: 1rem;
    }
    
    &:target {
        z-index: 1000;
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
    
    a.close {
        position: fixed;
        top: 15px;
        right: 10px;
        color: #FFF;
        font-weight: bold;
        font-size: 1.8rem;
        text-shadow: none;
        opacity: 0.7;
    }
}