#timezones {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    background: rgba(#000,0.9);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    
    &:target {
        z-index: 1000;
        visibility: visible;
        opacity: 1;
    }
    
    a.close {
        color: #FFF;
        font-weight: bold;
        font-size: 1.8rem;
        text-shadow: none;
        opacity: 0.7;
        margin: 1rem;
    }
}