.vs {

	font-size: 2rem;
    -ms-transform: skewY(-10deg); // IE 9
    -webkit-transform: skewY(-10deg); // Safari
    transform: skewY(-10deg); // Standard syntax

	a {
		letter-spacing: -0.2rem;
		display: block;
		transition: all 0.3s ease;

		&:hover {
			text-decoration: none;
		}
	}

	abbr {
		border: none;
		display: block;
		font-size: 1rem;
		font-style: italic;
		line-height: 1;
		margin-top: -2rem;

		&:before {
			border-top: 2px solid #FFF;
			display: block;
			content: "";
			margin-top: 2rem;
		}
	}
}