footer {
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%);
	color: rgba(#FFF,0.4);
	font-size: 0.85rem;
	overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
	padding: 0.5rem 2rem 0.5rem;
    text-align: center;
}
