h2, form, input {
  text-align: center;
}

legend {
  display: inline-block;
  color: rgba(#FFF, 0.5);
  border: 1px solid rgba(#FFF, 0.3);
  border-width: 1px 0;
  font-size: 0.8rem;
  line-height: 2;
  margin: 0 auto 0.5rem;
  padding: 0 3rem;
  width: auto;
  text-transform: uppercase;
}

label {
  color: rgba(#FFF,0.5);
}


input[readonly] {
  background: rgba(#FFF, 0.5);
  border: none;
  color: #000;
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
  float: none;
}

.checkbox {
  margin: 0 auto;
  width: 206px;

  input {
    display: inline-block;
    line-height: 1.5rem;
    margin-right: 0.5rem;
  }

  label {
    display: inline-block;
    line-height: 1.3rem;
  }
}

// Override BOOTSTRAP defaults
form {
  select, textarea, 
  input[type="text"], 
  input[type="password"], 
  input[type="datetime"], 
  input[type="datetime-local"], 
  input[type="date"], 
  input[type="month"], 
  input[type="time"], 
  input[type="week"], 
  input[type="number"], 
  input[type="email"], 
  input[type="url"], 
  input[type="search"], 
  input[type="tel"], 
  input[type="color"], 
  .uneditable-input {
    border: none;
    color: #000;
    height: auto;
    padding: 1rem 0;
    transition: all 0.25s ease;
  }
}
