nav {
  background: rgba(0,0,0,0.8);
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;

  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  
  a {
    color: rgba(#FFF,0.8);
    
    &:hover {
      color: rgba(#FFF,1);
      text-decoration: none;
    }
  }
  
  .logo {
    left: 47%;
    line-height: 3rem;
    position: absolute;
    right: 47%;
    text-align: center;
  }
  
  .discover,
  .engage {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 45%;
    
    li {
      display: inline;
      position: relative;
      
      a {
        display: inline-block;
        padding: 1rem 0.5rem;
      }
    }
    
  }
  
  .discover {
    float: left;
    text-align: right;
  }

  .engage {
    float: right;
    text-align: left;
  }
  
  li {
    z-index: 10;
    
    form {
      background: red;
      display: inline-block;
      width: 32px;

      input {
        background: url(/img/svg/search.svg) no-repeat 5px 50%;
        background-color: #555 !important;
        background-size: 16px;
        border-color: transparent !important;
        position: absolute;
        top: -0.5rem;
        right: 0;
        margin-top: 5px;
        text-align: left;
        width: 16px;

        &:focus {
          background-color: #FFF !important;
          padding-left: 24px !important;
          width: 160px;
        }
      }
    }

  }
  
  
}