table {
	margin: 1rem 0;
	text-align: center;
	width: 100%;

	th, td {
		padding: 0.5rem;
	}

	th {
		color: rgba(#FFF, 0.3);
		font-size: 0.85rem;
	    text-align: center;
		text-transform: uppercase;

		a {
			color: rgba(#FFF, 0.3);
		}
	}

	tbody {

		tr {
			border-bottom: 1px solid #FFF;
		}

		tr:hover {
			background: rgba(#000,0.05);
		}
	}

	.actions {
		a {
			background: rgba(#000, 0.5);
			display: inline-block;
			font-size: 0.75rem;
			font-weight: bold;
			margin-right: 1px;
			padding: 0.5rem;
			text-transform: uppercase;
		}
	}
}