body, h1, h2, h3 {
  color: #FFF;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h2 {
  font-size: 25px;  
}

h3 {
  font-size: 21px;  
}

pre, textarea.code {
  background: rgba(#000, 0.8);
  color: #F0C;
  font-family: 'Consolas', CourierNew, fixed;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
  z-index: 10;

  &:focus,
  &:hover {
    width: 100%;
    height: 200px;
    z-index: 100;
  }
}

.empty:not(td) {
  font-size: 1.4rem;
  color: rgba(#FFF, 0.6);
  padding: 3rem;
  transform: skewY(($title-skew + 5));
  border: 2px solid rgba(#FFF,0.2);
  border-width: 2px 0;

}

ul {
  margin: 0 0 1rem;
}

li {
  margin: 0;
  padding: 0;
}